#setup_button {
    display: none;
}

/* IOS Config */
link[rel="manifest"] {
    --pwacompat-splash-font: 24px Verdana;
}

#prompt_ios{
    display: none;
	font-family: "Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    position: absolute;
    position: fixed;
    z-index: 1200;
    border-radius: 5px;
    background-color: #fff;
    color: #595959;
    bottom: 1.3em;
    width: 85%;
    left: 7.5%;
    padding-bottom: 10px;
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

#prompt_ios::after {
    content: '';
    background: #fff;
    position: absolute;
    width: 2em;
    height: 2em;
    bottom: -0.8em;
    left: 50%;
    margin-left: -1em;
    -webkit-transform: scaleX(0.9) rotate(
45deg
);
    transform: scaleX(0.9) rotate(
45deg
);
}::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.prompt_app_icon {
    width: 52px;
    height: 52px;
    float: left;
    margin: 10px 15px 10px 10px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0.2em 0.4em rgb(0 0 0 / 30%), inset 0 0.07em 0 rgb(255 255 255 / 50%);
}

.prompt_app_icon img {
    width: 52px;
    padding: 4px;
}
#prompt_ios p {
    margin: 0;
}

p.tit_prompt {
    padding: 10px 0 0 10px;
    font-weight: bold;
    font-size: 15px;
}

p.txt_prompt {
    line-height: 24px;
    margin-bottom: 14px!important;
}

p.txt_prompt img {
    width: 18px;
}

.btns_promt p {
    position: relative;
    z-index: 2147483642;
		margin: auto;
		text-align: center;
		align-items: center;
}

p.btn_prompt {
    color: rgb(68,138,255);
    width: 45%;
    float: left;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    margin-left: 4%!important;
    min-height: 32px;
    cursor: pointer;
}
p.btn_solo {
    width: 100%;
    margin: 0!important;
    display: table-cell;
    vertical-align: middle;
    line-height: 32px;
}


.over_prompt {
    display: none;
    position: fixed;
    z-index: 1060;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .625em;
    overflow-x: hidden;
    background-color: rgba(0,0,0,.6);
}

/* Faz o botão de baixar desaparecer em telas de 800px+ */
@media only screen and (min-width: 800px) {
  header ul li a#setup_button{
	display: none !important;
	}
}